
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    background: #fff;
}
header{    
    max-height:100%;
    object-fit: cover;
    height: 200px;
    margin: 0;
    /* padding-bottom: 1em; */
}

footer{
    margin-top: 2em;
}

hr{
    margin: 1em 1em;
}

.head-text{
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -.015em;
}

.head-para{
    max-width: 600px;
    line-height: 0.9em;
    opacity: .8;
}


.post-subtitle{
    color: rgb(172, 11, 118);
}

.featured-post-title, .post-title{
    color:black;
    font-weight: 400;

}

.post-main-info{
    font-weight: 200;
    color: black;
    opacity: 0.8;
}
